<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button defaultHref="home" slot="start"></ion-back-button>
    <ion-title>Service</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{ loadedPost?.title }}
      </ion-card-title>
      <ion-card-subtitle>
        This service is provided by <b>{{ loadedPost?.author }}</b>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
          <b>Description:</b> <br>
          {{ loadedPost?.body }} <br>
          <b>Contact: </b>
          <a href = "mailto: {{loadedPost?.email}}" id="mail">{{loadedPost?.email }}</a><br>
          <b>Image:</b> <br>
          <img src="assets/images/{{loadedPost?.image}}.jpg" style="width: 30ch;"> <br>
          <b>Subscribed by:</b> <br>
          <tr *ngFor="let customer of loadedPost?.subscriptions">
            <td>{{customer}}</td>
          </tr>
    </ion-card-content>
    <ion-button
      size="fill"
      (click)="subscribe()"
      *ngIf="canSubscribe">
      Subscribe
    </ion-button>
    <ion-button
      color="danger"
      size="fill"
      (click)="unsubscribe()"
      *ngIf="subscribed">
      Unsubscribe
    </ion-button>
    <ion-button
      color="danger"
      size="fill"
      (click)="delete()"
      *ngIf="isOwner">
      Delete
    </ion-button>

  </ion-card>
</ion-content>
