<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="start"><ion-back-button defaultHref="home"></ion-back-button></ion-button>
    <ion-title>Service</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{ loadedPost?.title }}
      </ion-card-title>
      <ion-card-subtitle>
        This service is provided by {{ loadedPost?.author }}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
          <b>Description:</b> <br>
          {{ loadedPost?.body }} <br>
          <b>Provider-Profile:</b> <br>
          {{loadedPost?.author }} <br>
          <b>Images:</b> <br>
          Currently not available.

    </ion-card-content>


  </ion-card>
</ion-content>
