<ion-app>
  <ion-menu side="start" menuId="first">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-menu-button slot="start"></ion-menu-button>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-item routerLink="/home" (click)="toggleMenu()">
      <ion-icon name="home" slot="start"></ion-icon>
        Home
      </ion-item>
      <ion-item routerLink="/login-user" (click)="toggleMenu()" *ngIf="!session.isLoggedIn()">
      <ion-icon name="log-in" slot="start"></ion-icon>
        Login
      </ion-item>
      <ion-item routerLink="/register" (click)="toggleMenu()" *ngIf="!session.isLoggedIn()">
      <ion-icon name="person-add" slot="start"></ion-icon>
        Register
      </ion-item>
      <ion-item routerLink="/profile" id="ProfileLink" (click)="toggleMenu()" *ngIf="session.isLoggedIn()">
      <ion-icon name="contact" slot="start"></ion-icon>
        Profile Page
      </ion-item>
      <ion-item routerLink="/postservice" (click)="toggleMenu()" *ngIf="session.isProvider()">
      <ion-icon name="add" slot="start"></ion-icon>
        Share Your Service
      </ion-item>
      <ion-list style="background: none" id="footer" class="ion-no-margin ion-no-padding">
      <ion-item routerLink="/aboutus" (click)="toggleMenu()" lines="none">
        <ion-icon name="information-circle-outline" slot="start"></ion-icon>
        About us
      </ion-item>
      <ion-item lines="none">
        <ion-icon slot="start" name="moon"></ion-icon>
        Toggle Dark Theme
        <ion-toggle id="themeToggle" slot="end" (click)="toggleDark()"></ion-toggle>
      </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="first" main></ion-router-outlet>
</ion-app>
