<ion-app>
  <ion-menu side="start" menuId="first">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-menu-button slot="start"></ion-menu-button>
        <ion-title>Start Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list *ngFor="let pages of navigate">
        <ion-item [routerLink]="pages.url" routerDirection="forward" (click)="toggleMenu()">
          <ion-icon [name]="pages.icon" slot="start"></ion-icon>
          {{pages.title}}
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item routerLink="/profile" id="ProfileLink" (click)="toggleMenu()">
          <ion-icon name="contact" slot="start"></ion-icon>
          Profile Page
        </ion-item>
      </ion-list>
    </ion-content>
    <ion-footer>
      <ion-item>
        <ion-icon slot="start" name="moon"></ion-icon>
        Toggle Dark Theme
        <ion-toggle id="themeToggle" slot="end" (click)="toggleDark()"></ion-toggle>
      </ion-item>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="first" main></ion-router-outlet>
</ion-app>
