<ion-header>
  <ion-toolbar color="primary">
    <ion-button [routerLink]="['/home']" slot="start">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>Username: {{session.username}}</ion-item>
    <ion-item>Type of User: {{session.type}}</ion-item>
    <ion-item id="offer" *ngIf="session.isProvider()">

      <ion-card-content>
        <ion-row>
          <ion-input
            placeholder="Title"
            [(ngModel)]="post.title"
            (keyup.enter)="setNextFocus(content)"
          ></ion-input>
        </ion-row>
        <ion-row>
          <ion-input
            placeholder="Content"
            #content
            (keyup.enter)="submitPost(post.title, post.content)"
            [(ngModel)]="post.content"
          ></ion-input>
        </ion-row>
        <ion-row>
          {{error}}
        </ion-row>
        <ion-row>
          <ion-button size="fill" (click)="submitPost(post.title, post.content)">Post Service</ion-button>
        </ion-row>
      </ion-card-content>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col sizeMd="3">
          <ion-card *ngFor="let post of posts" [routerLink]= "post.id">
            <app-post-card [post]="post"></app-post-card>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item>
      <ion-button size="fill" color="danger" (click)="logout()" routerLink="/home">Logout</ion-button>
    </ion-item>
  </ion-list>

</ion-content>
