<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button defaultHref="home" slot="start"></ion-back-button>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>Username: {{session.username}}</ion-item>
    <ion-item>Type of User: {{session.type}}</ion-item>
    <ion-grid>
      <ion-row>
        <ion-col sizeMd="3">
          <ion-card *ngFor="let post of session.myPosts" [routerLink]= "post.id">
            <app-post-card [post]="post"></app-post-card>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item>
      <ion-button size="fill" color="danger" (click)="logout()" routerLink="/home">Logout</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
