<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card-header>
        <ion-card-title>Login</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-input
            placeholder="Username"
            [(ngModel)]="customer.name"
            (keyup.enter)="nextSetPassword(Password)"
          ></ion-input>
        </ion-row>
        <ion-row>
          <ion-input
            placeholder="Password"
            type="password"
            #Password
            [(ngModel)]="customer.password"
            (keyup.enter)="login(customer.name, customer.password)"
          ></ion-input>
        </ion-row>
        <ion-row>
          {{error}}
        </ion-row>
        <ion-row>
          <ion-button (click)="login(customer.name, customer.password)">
            <ion-icon name="return-right"></ion-icon>enter</ion-button>
        </ion-row>
      </ion-card-content>
    </ion-col>

    <ion-col>
      <ion-card-header>
        <ion-card-title>Register</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Do you want to sell your services to others?</p>
        <p>
          <ion-button size="small" fill="outline" routerLink="/login-user/register-provider">Register as a provider</ion-button>
        </p>
        <p>Or do you want to organize your own events?</p>
        <p>
          <ion-button size="small" fill="outline" routerLink="/login-user/register-consumer">Register as a consumer</ion-button>
        </p>
      </ion-card-content>
    </ion-col>
  </ion-row>
</ion-grid>
