<ion-header>
  <ion-toolbar color="primary">
    <ion-title
      [hidden]=!bool>
      Event Management
    </ion-title>
    <ion-menu-button autoHide="false" slot="start" style="z-index: 1"></ion-menu-button>
    <ion-input slot="end" id="search" placeholder="Search" type="text"
      #input
      [(ngModel)]="search"
      [hidden]=bool>
    </ion-input>
    <ion-item slot="end" color="transparent" lines="none" (click)="searchVisibility(input)">
        <ion-icon name="search"></ion-icon>
    </ion-item>
    <ion-button slot="end" (click)="search=null;" *ngIf="(search!=null && search!=undefined)">
      <ion-icon name="refresh"></ion-icon>
    </ion-button>
    <ion-button *ngIf="!session.isLoggedIn()" routerLink="/login-user" color="danger" slot="end" id="log">
      <ion-icon name="log-in"></ion-icon>Login
    </ion-button>
    <ion-button *ngIf="session.isLoggedIn()" routerLink="/profile" slot="end" id="acc" color="primary">
      <ion-icon name="contact"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <p align="center" style="font-size: 4ch; margin-bottom: 0; margin-top: 10px" *ngIf="!session.isLoggedIn()">
    Welcome to our App!
  </p>
  <p align="center" margin-horizontal style="margin-bottom: 2ch; margin-top: 5px" *ngIf="!session.isLoggedIn()">
    We offer the best services. Look through the offers or sign up as a provider to offer your own!
  </p>
  <ion-card
    *ngFor="let post of session.posts"
    [routerLink]= "post.id"
    style="margin: 15px 3px;">
    <app-post-card
      [post]="post"
      *ngIf="(searchPosts(post) || !search)">
    </app-post-card>
  </ion-card>
</ion-content>
