<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Page Title</ion-title>
    <ion-menu-button autoHide="false" slot="start"></ion-menu-button>
    <ion-button routerLink="/login-user" color="danger" slot="end">
      Login
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Coming soon</h1>
  <ion-grid>
    <ion-row>
      <ion-col sizeMd="3">
        <ion-list>
          <ion-item *ngFor="let post of posts" [routerLink]= "post.id">
            <ion-card>
              <ion-card-header>{{post.title}}</ion-card-header>
              <ion-card-content>{{post.body}}</ion-card-content>
            </ion-card>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
