<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Page Title</ion-title>
    <ion-menu-button autoHide="false" slot="start"></ion-menu-button>
    <ion-button (click)="updateUser()" slot="end" size="fill">
      <ion-icon name="refresh"></ion-icon>
    </ion-button>
    <ion-button routerLink="/login-user" color="danger" slot="end" id="log">
      Login
    </ion-button>
    <ion-button routerLink="/profile" slot="end" id="acc" color="primary">
      <ion-icon name="contact"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    Logged in as {{username}} a {{type}}
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col sizeMd="3">
            <ion-card *ngFor="let post of posts" [routerLink]= "post.id">
              <ion-card-header>{{post.title}}</ion-card-header>
              <ion-card-content>
                {{post.body}}
                <ion-img [src]="post.src"></ion-img>
              </ion-card-content>
            </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
