//** makes the image float on the left side of the card **/
img{
  border-radius: 6px;
  width: 20ch;
  clear:left;
  float: left;
  padding-right: 3px;
}
//** changes the padding for the cards text **/
ion-card-content{
  padding: 2px;
}
ion-card-title{
  padding: 5px;
}
