<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card-header>
        <ion-card-title>Login</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-input
            placeholder="Username"
            [(ngModel)]="customer.name"
            (keyup.enter)="nextSetPassword(Password)"
          ></ion-input>
        </ion-row>
        <ion-row>
          <ion-input
            placeholder="Password"
            type={{inputType}}
            #Password
            [(ngModel)]="customer.password"
            (keyup.enter)="login(customer.name, customer.password)"
          ></ion-input>
        </ion-row>
        <ion-row>
          {{error}}
        </ion-row>
        <ion-row>
          <ion-button (click)="login(customer.name, customer.password)">
            <ion-icon name="return-right"></ion-icon>enter
          </ion-button>
          <ion-item lines="none" (click)="changeInputType()">
              <ion-icon name={{iconType}}></ion-icon>
          </ion-item>
        </ion-row>
      </ion-card-content>
    </ion-col>

    <ion-col>
      <ion-card-header>
        <ion-card-title>Register</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Would you like to create an account?</p>
        <ion-button size="small" routerLink="/register">
          Register
        </ion-button>
      </ion-card-content>
    </ion-col>
  </ion-row>
</ion-grid>
