<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Register</ion-title>
    <ion-button [routerLink]="['/login-user']" slot="start">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Please enter:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <app-register url="http://localhost:3001/customer/"></app-register>
    </ion-card-content>
  </ion-card>
</ion-content>
