<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button defaultHref="home" slot="start"></ion-back-button>
    <ion-title>About us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-grid>
      <ion-col>
        <ion-card-header>
          <ion-card-title><b>We are Team 4!</b></ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list lines="none">
            <ion-list-header>
              Our Team:
            </ion-list-header>

            <ion-item>
              <ion-avatar slot="start">
                <ion-icon name="person" size="large"></ion-icon>
              </ion-avatar>
              <ion-label>
                <h2>Marius Asadauskas</h2>
                <p>Product Owner and Frontend Developer</p>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-avatar slot="start">
                <ion-icon name="person" size="large"></ion-icon>
              </ion-avatar>
              <ion-label>
                <h2>Janis Meier</h2>
                <p>Frontend Developer</p>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-avatar slot="start">
                <ion-icon name="person" size="large"></ion-icon>
              </ion-avatar>
              <ion-label>
                <h2>Dominik Ummel</h2>
                <p>Backend Developer</p>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-avatar slot="start">
                <ion-icon name="person" size="large"></ion-icon>
              </ion-avatar>
              <ion-label>
                <h2>Anton Park</h2>
                <p>Backend Developer</p>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-avatar slot="start">
                <ion-icon name="person" size="large"></ion-icon>
              </ion-avatar>
              <ion-label>
                <h2>Johannes Meier</h2>
                <p>Frontend/Backend Developer</p>
              </ion-label>
            </ion-item>

          </ion-list>

        </ion-card-content>
      </ion-col>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-grid>
      <ion-col>
        <ion-card-header>
          <ion-card-title>
              <b>Support</b>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list lines="none">
            <ion-list-header>
              For Support Inquiries please contact:
            </ion-list-header>

            <ion-item>
              <ion-avatar slot="start">
                <ion-icon name="mail" size="large"></ion-icon>
              </ion-avatar>
              <ion-label>
                <h2>E-Mail</h2>
                <p>ese.team4@gmail.com</p>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-avatar slot="start">
                <ion-icon name="call" size="large"></ion-icon>
              </ion-avatar>
              <ion-label>
                <h2>Phone Number</h2>
                <p>+41 79 918 25 35</p>
              </ion-label>
            </ion-item>
          </ion-list>

        </ion-card-content>
      </ion-col>
    </ion-grid>
  </ion-card>
</ion-content>
