<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item id="username"><ion-input
        placeholder="Username"
        [(ngModel)]="customer.name"
        (keyup.enter)="nextSetFocus(password)">
      </ion-input></ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item id="password"><ion-input
        clearOnEdit="false"
        placeholder="Password"
        [(ngModel)]="customer.password"
        required minlength="6"
        type={{entryField}}
        #password
        (keyup.enter)="nextSetFocus(confirmPassword)">
      </ion-input></ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item id="confirmPassword"><ion-input
        clearOnEdit="false"
        placeholder="Confirm Password"
        type={{entryField}}
        minlength ="6"
        #confirmPassword
        [(ngModel)]="customer.password_verify"
        (keyup.enter)="url(); register(customer.name, customer.password, customer.password_verify)">
      </ion-input></ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>{{error}}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-checkbox margin-horizontal="5" [(ngModel)]="isProvider" (ionChange)="url()"></ion-checkbox> I would like to register as a provider.
    </ion-col>
  </ion-row>
  <ion-row margin-bottom="12">
    <ion-col>
      <ion-button (click)="url(); register(customer.name, customer.password, customer.password_verify)">
        <ion-icon name="return-right"></ion-icon>Register</ion-button>
    </ion-col>
  </ion-row>
  <ion-item>
    View Password<ion-toggle (ionChange)="entryFieldChange()"></ion-toggle>
  </ion-item>
</ion-grid>

