//** variables to change the border line depending on the input manually **/
#username{
  --border-color: var(--name-color);
}
#password{
  --border-color: var(--password-color);
}
#confirmPassword{
  --border-color: var(--confirmPassword-color);
}
#email{
  --border-color: var(--email-color);
}

