//** disables valid or invalid input item colors **/
.item-interactive.ion-invalid {
  --highlight-background: none;
}

.item-interactive.ion-valid {
  --highlight-background: none;
}
//** variables to change the border line depending on the input manually **/
#username{
  --border-color: var(--name-color);
}
#password{
  --border-color: var(--password-color);
}
#confirmPassword{
  --border-color: var(--confirmPassword-color);
}
#email{
  --border-color: var(--email-color);
}

