//** disables valid or invalid input item colors **/
.item-interactive.ion-invalid {
  --highlight-background: none;
}

.item-interactive.ion-valid {
  --highlight-background: none;
}
.info{
  color: var(--ion-color-primary-rgb)
}
//** Makes the card preview look like the actual posts detail card **/
  .headContent{
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 2px;
  }
  .bodyContent{
    margin: 0;
    padding-top: 4px;
    padding-left: 10px;
    padding-bottom: 0;
  }
//** A smaller preview of the post-card instead of the post details **/
#cardPreview{
  img{
    border-radius: 4px;
    width: 20ch;
    clear:left;
    float: left;
    padding-right: 3px;
  }
  ion-card-content{
    padding: 2px;
  }
  ion-card-title{
    padding: 5px;
  }
}
