<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button defaultHref="home" slot="start"></ion-back-button>
    <ion-title>Share Your Service</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="session.isProvider()">
    <ion-card>
      <ion-item>
        <ion-textarea rows="1" id="title" autosize placeholder="Title" [(ngModel)]="post.title"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-textarea rows="1" id="description" autosize placeholder="Description" [(ngModel)]="post.content"></ion-textarea>
      </ion-item>
      <ion-row class="ion-margin">
        <ion-thumbnail *ngFor="let pic of pictures" (click)="setImage(pic.id)">
          <img src={{pic.img}} id="{{pic.id}}"/>
        </ion-thumbnail>
      </ion-row>
      <ion-row>
        {{error}}
      </ion-row>
      <ion-row>
        <ion-button size="fill" (click)="submitPost(post.title, post.content, post.image)">Post Service</ion-button>
      </ion-row>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ post.title }}</ion-card-title>
        <ion-card-subtitle>
          This service is provided by {{session.username}}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <b>Description:</b> <br>
          {{ post.content }} <br>
        <b>Provider-Profile:</b> <br>
          {{session.username}}<br>
        <b>Image:</b> <br>
        <img src="assets/images/{{post.image}}.jpg" style="width: 20%;"> <br>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
