<ion-row>
  <ion-item><ion-input
    placeholder="Username"
    [(ngModel)]="customer.name">
  </ion-input></ion-item>
</ion-row>
<ion-row>
  <ion-item><ion-input
    placeholder="Password"
    [(ngModel)]="customer.password"
    required minlength="6"
    type="password">
  </ion-input></ion-item>
</ion-row>
<ion-row>
  <ion-item><ion-input
    placeholder="Confirm Password"
    type="password"
    required minlength="6"
    [(ngModel)]="customer.password_verify">
  </ion-input></ion-item>
</ion-row>
<ion-row>
  {{error}}
</ion-row>
<ion-row>
  <ion-button (click)="register(customer.name, customer.password, customer.password_verify)">
    <ion-icon name="return-right"></ion-icon>Register</ion-button>
</ion-row>
