<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item><ion-input
        placeholder="Username"
        [(ngModel)]="customer.name"
      (keyup.enter)="nextSetFocus(password)">
      </ion-input></ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item><ion-input
        placeholder="Password"
        [(ngModel)]="customer.password"
        required minlength="6"
        type="password"
        #password
        (keyup.enter)="nextSetFocus(confirmpassword)">
      </ion-input></ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item><ion-input
        placeholder="Confirm Password"
        type="password"
        minlength ="6"
        #confirmpassword
        [(ngModel)]="customer.password_verify"
      (keyup.enter)="register(customer.name, customer.password, customer.password_verify)">
      </ion-input></ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>{{error}}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-checkbox margin-horizontal="5"></ion-checkbox> I would like to register as a provider.
    </ion-col>
  </ion-row>
  <ion-row margin-bottom="12">
    <ion-col>
      <ion-button (click)="register(customer.name, customer.password, customer.password_verify)">
        <ion-icon name="return-right"></ion-icon>Register</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

