<ion-row>
  <ion-item><ion-input
    placeholder="Username"
    (keyup.enter)="nextField(Field1)"
    [(ngModel)]="customer.name"
  ></ion-input></ion-item>
</ion-row>
<ion-row>
  <ion-item><ion-input
    placeholder="Password"
    required minlength="4"
    type="password"
    #Field1
    (keyup.enter)="nextField(Field2)"
    [(ngModel)]="customer.password"
  ></ion-input></ion-item>
</ion-row>
<ion-row>
  <ion-item><ion-input
    placeholder="Confirm Password"
    type="password"
    required minlength="4"
    #Field2
    [(ngModel)]="customer.password_verify"
    (keyup.enter)="register(customer.name, customer.password, customer.password_verify)"
  ></ion-input></ion-item>
</ion-row>
<ion-row>
  {{error}}
</ion-row>
<ion-row>
  <ion-button (click)="register(customer.name, customer.password, customer.password_verify)">
    <ion-icon name="return-right"></ion-icon>Register</ion-button>
</ion-row>
